<div class="container" >
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <h1 class="title-center">{{ headerMovieDetails.assignment | uppercase }}<br/>
        Student Name: {{ headerMovieDetails.fullName }}<br/>
        My Country: {{ headerMovieDetails.homeCountry }}<br/>
        {{ headerMovieDetails.movieTheaterName | uppercase }}<br/>
        {{ headerMovieDetails.movieTheaterLocation }}<br/>
        {{ headerMovieDetails.movieTheaterContactNumber }}
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
