table {
  width: 100%;
  color: aqua;
  background-color: rgb(121, 145, 147);
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.mat-toolbar  {
  background-color: rgb(121, 145, 147);
}

.content-group {
  background-color: aquamarine;
}

.screen-group {
  background-color: rgb(68, 146, 229);
}
